{% extends "base.html" %}
{% block content %}

<!-- Page Heading -->
<div class="heading-box">
    <h1 class="main-heading">Add Player</h1>
</div>

<div class="row card-panel green lighten-4">
    <form class="col s12" method="POST" action="{{ url_for('add_player', id=currentteam.id) }}">
        <!-- Player Name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-solid fa-user-plus form-icon-colour prefix"></i>
                <input id="player_name" name="player_name" type="text" minlength="3" maxlength="25"
                    pattern="^\S(?:.*\S)?$" class="validate" required>
                <label for="player_name">Name</label>
            </div>
        </div>
        <!-- Player Kit Number -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-solid fa-shirt form-icon-colour prefix"></i>
                <input id="player_kit_number" name="player_kit_number" type="number" max="99" class="validate" required>
                <label for="player_kit_number">Kit Number</label>
            </div>
        </div>
        <!-- Player Position -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-solid fa-futbol form-icon-colour prefix"></i>
                <input id="player_position" name="player_position" minlength="3" pattern="^\S(?:.*\S)?$" maxlength="15"
                    type="text" class="validate" required>
                <label for="player_position">Position</label>
            </div>
        </div>
        <!-- Player Country -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-solid fa-flag form-icon-colour prefix"></i>
                <input id="player_country" name="player_country" minlength="3" maxlength="20" pattern="^\S(?:.*\S)?$"
                    type="text" class="validate" required>
                <label for="player_country">Country</label>
            </div>
        </div>
        <!-- Player Joined -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-solid fa-calendar form-icon-colour prefix"></i>
                <input id="player_joined" name="player_joined" type="text" class="datepicker" required readonly>
                <label for="player_joined">Joined</label>
            </div>
        </div>
        <!-- Submit -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn green button-border">
                    Add Player <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<!-- Background Image -->
<img alt="A football pitch" id="background-image"
    src="{{ url_for('static', filename='images/background-image.webp') }}">

<!-- Over 1200 image -->
<img alt="A sunday league corner kick" id="background-image-large"
    src="{{ url_for('static', filename='images/background-image-large.webp') }}">

<script src="{{ url_for('static', filename='js/player_form_script.js') }}"></script>

{% endblock %}