<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2e8f9e537f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Torquay Sunday League</title>
</head>
<body>
    <nav id="nav">
        <!-- Desktop & Tablet Navbar -->
        <div class="nav-wrapper">
          <a href="{{ url_for('home') }}">
            <img id="logo" src="{{ url_for('static', filename='images/logo.webp') }}">
          </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('teams') }}">Teams</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('create_team', username=session['user']) }}">Create Team</a></li>
                <!-- If the user has a team -->
                <li><a href="#">My Team</a></li>
                <!-- endif -->
                <li><a href="{{ url_for('log_out') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('log_in') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    
      <!-- Mobile Navbar -->
      <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('teams') }}">Teams</a></li>
        {% if session.user %}
            <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
            <li><a href="{{ url_for('create_team', username=session['user']) }}">Create Team</a></li>
            <!-- If the user has a team -->
            <li><a href="#">My Team</a></li>
            <!-- endif -->
            <li><a href="{{ url_for('log_out') }}">Log Out</a></li>
        {% else %}
            <li><a href="{{ url_for('log_in') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
      </ul>

      <section>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h3 class="green lighten-4 center-align">{{ message }}</h3>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
      </section>

      {% block content %}
      {% endblock %}

    <footer>
        <p>© Torquay Sunday League    ~    Back to top</p>
        <a id="rules-link" href="#">Rules</a>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>