{% extends "base.html" %}
{% block content %}

<h1 class="main-heading">Torquay Sunday League</h1>
<h2 class="sub-heading">One more spot available for this season!</h2>

<main id="index-main">

    <div class="player-left-box">
        <img class="player-left" src="{{ url_for('static', filename='images/odegaard.webp') }}">
    </div>

    <!-- Could I use a jinja for loop to cycle through the teams and produce this list? -->
    <table id="league-table">
        <thead>
            <tr>
                <th>Pos.</th>
                <th>Team</th>
                <th>Points</th>
                <th>G.D</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>YOUR TEAM</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Babbacombe</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Barton Albion</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Chelston Town</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Cockington Village</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Edginswell United</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Hele Cross Rangers</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Hollicombe</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Shiphay District</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Torre Town</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Watcombe Wanderers</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Wellswood United</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>

    <div class="player-right-box">
        <img class="player-right" src="{{ url_for('static', filename='images/salah.webp') }}">
    </div>

</main>

{% endblock %}