{% extends "base.html" %}
{% block content %}

<div id="heading-box"> 
    <h1 class="main-heading">Log In</h1>
</div>

{% if session.user %}
    <!-- Number of Registered Players -->
    <h2 class="center-align">You are currently logged in as {{ session["user"] }} </h2>
{% else %}

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('log_in') }}">
            <div class="card-panel green lighten-4">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix"></i>
                        <input name="username" id="username" type="text" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix"></i>
                        <input name="password" id="password" type="password" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                        <!--Add the little eye for visibility-->
                    </div>
                </div>
                <!-- Submit -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn green">
                            Log In <i class="fas fa-sign-in-alt right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                New Here?
                <a href="{{ url_for('register') }}" class="green lighten-4">Register Account</a>
            </p>
        </div>
    </div>

    <!-- Background Image -->
    <img id="background-image" src="{{ url_for('static', filename='images/background-image.webp') }}">

    <!-- Over 1200 image -->
    <img id="background-image-large" src="{{ url_for('static', filename='images/background-image-large.webp') }}">

    <script src="{{ url_for('static', filename='js/log_in_script.js') }}"></script>

{% endif %}

{% endblock %}