{% extends "base.html" %}
{% block content %}

<h1 class="main-heading">{{ team.team_name }}'s Players</h1>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_player', id=team.id) }}" class="btn green">
            Add Player <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row teams-row">
    {% for player in players %}
        {% if player.team_id == team.id %}
        <div class="col team-card-layout">
        <div class="card team-card green-card darken-2">
            <div class="card-content white-text">
            <span class="card-title">{{ player.player_name }}</span>

            <!-- Other attributes -->

            </div>
            <div class="card-action">
            <!-- if team.created_by == session.user -->
            <a class="btn green darken-4" href="#">Edit Player</a>
            <a class="btn red modal-trigger" id="delete_team" href="#modal-{{ player.id }}">Delete Player</a>
            <!-- endif -->
            </div>
        </div>
        </div>
        <!-- Modal Structure -->
        <div id="modal-{{ player.id }}" class="modal">
            <div class="modal-content">
                <h4>Are you sure you want to delete this player?</h4>
                <p>This action cannot be undone</p>
            </div>
            <div class="modal-footer">
                <!--  url_for('delete_team', team_id=team.id)  -->
                <a href="#" class="btn green">Yes</a>
                <a href="{{ url_for('players', id=team.id) }}" class="btn red">No</a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
  </div>

{% endblock %}