{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col picture-team-box">
            <img alt="The team's profile picture" class="team-profile-picture" src="{{ squad_picture }}" alt="{{ team.team_name }}'s squad picture">
        </div>
    </div>

    <div class="row row-without-mb">
        <div class="col s12 m6 offset-m3">
            <div class="green lighten-4 team-title" id="tt-box">
                <h3 class="center-align green lighten-4 team-title-inner">
                    {{ team.team_name }}
                </h3>
            </div>
        </div>
    </div>

    <div class="profile-content">
        <!-- Number of Registered Players -->
        <div id="num_of_players"><p id="num_of_players-p">No. of players:</p><p id="no_of_players"> {{ team.team_no_of_players }}</p></div>

        <!-- Kit Colour -->
        <p >Kit Colours: {{ team.team_colour }}</p>

        <!-- Home Location -->
        <p >Address: {{ team.team_location }}</p>

        <!-- Created By -->
        <p >Managed by: {{ team.team_created_by }}</p>

        {% if team.team_contact != "" %}
            <!-- Contact -->
            <p>Contact: {{ team.team_contact }}</p>
        {% endif %}

        {% if team.confirmation_status == True %}
            <p>Team Confirmed</p>
        {% else %}
            <p>Team not yet confirmed</p>
            <p>Teams will be reviewed once we have been contacted to say all players have all been submitted</p>
        {% endif %}

        <div class="row-without-mb">
            <div class="col player-edit-view">
                {% if team.team_created_by == session["user"] and team.confirmation_status == False %}                    
                    <!-- Button to Edit Team info -->
                    <a class="team-profile-button btn green button-border" href="{{ url_for('edit_team', team_id=team.id) }}">Edit Team</a>
                {% endif %}
                <!-- Button to view players -->
                <a class="team-profile-button btn green button-border" href="{{ url_for('players', id=team.id) }}">View Players</a>
            </div>
        </div>

    </div>

    <!-- Background Image -->
    <img alt="A football pitch" id="background-image" src="{{ url_for('static', filename='images/background-image.webp') }}">

    <!-- Over 1200 image -->
    <img alt="A sunday league corner kick" id="background-image-large" src="{{ url_for('static', filename='images/background-image-large.webp') }}">

    <script src="{{ url_for('static', filename='js/team_profile_script.js') }}"></script>

{% endblock %}