{% extends "base.html" %}
{% block content %}

<h1 class="main-heading">Teams</h1>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_team') }}" class="btn green">
            Add Team <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<main id="main-content">

    <div class="player-left-box">
        <img class="player-left" src="{{ url_for('static', filename='images/mitrovic.webp') }}">
    </div>

    <div id="rashford-box" class="player-right-box">
        <img class="player-right" src="{{ url_for('static', filename='images/rashford.webp') }}">
    </div>

</main>

{% endblock %}