{% extends "base.html" %}
{% block content %}

<h1 class="main-heading">Teams</h1>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('create_team') }}" class="btn green">
            Create Team <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<main id="main-content">

    <div class="player-left-box">
        <img class="player-left" src="{{ url_for('static', filename='images/mitrovic.webp') }}">
    </div>

    <div class="row teams-row">
        {% for team in teams %}
        <div class="col team-card-layout">
          <div class="card team-card green-card darken-2">
            <div class="card-content white-text">
              <span class="card-title">{{ team.team_name }}</span>
            </div>
            <div class="card-action">
              <a class="btn blue" href="#">View Team</a>
              <a class="btn green darken-4" href="{{ url_for('edit_team', team_id=team.id) }}">Edit Team</a>
              <a class="btn red" href="#">Delete Team</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    <div id="rashford-box" class="player-right-box">
        <img class="player-right" src="{{ url_for('static', filename='images/rashford.webp') }}">
    </div>

</main>

{% endblock %}