{% extends "base.html" %}
{% block content %}

<h1 class="main-heading">Teams</h1>
{% if session %}
    <div class="row">
        {% if session["user"] == "ryanmcnally93" or user.team_managed == "None" %}
            <div class="col s12 center-align">
                <a href="{{ url_for('create_team', username=session['user']) }}" class="btn green">
                    Create Team <i class="fas fa-plus-square right"></i>
                </a>
            </div>
        {% endif %}
    </div>
{% endif %}

<main id="main-content">

    <div class="row teams-row">
        <!-- Looking through all the teams and displaying them -->
        {% for team in teams %}
            <!-- Administrator can view all teams, other users can only see theirs and the administrator's teams -->
            {% if team.team_created_by == session["user"] or team.team_created_by == "ryanmcnally93" or session["user"] == "ryanmcnally93" %}
            <div class="col team-card-layout">
                <div class="card team-card green-card darken-2">
                    <div class="card-content white-text">
                    <span class="card-title">{{ team.team_name }}</span>
                    </div>
                    <div class="card-action">
                    <a class="btn blue" href="{{ url_for('team_profile', id=team.id) }}">View Team</a>
                    <!-- Edit and delete functions are only visible for creators of the team -->
                    {% if team.team_created_by == session["user"] and team.confirmation_status == False %}
                        <a class="btn green darken-4" href="{{ url_for('edit_team', team_id=team.id) }}">Edit Team</a>
                        <a class="btn red modal-trigger" id="delete_team" href="#modal-{{ team.id }}">Delete Team</a>
                    {% endif %}
                    <!-- If the administrator is logged in, the switches can be changed -->
                    {% if session["user"] == "ryanmcnally93" %}
                        <!-- Switch -->
                        <form method="POST" action="{{ url_for('teams') }}">
                            <input type="text" id="teamid" name="teamid" value="{{ team.team_name }}" style="display:none;"></input>
                            <div class="switch">
                                <label for="{{ team.id }}confirmed" class="switch-label">
                                No
                                {% if team.confirmation_status == True %}
                                    <input id="{{ team.id }}confirmed" name="{{ team.id }}confirmed" type="checkbox" checked>
                                {% else %}
                                    <input id="{{ team.id }}confirmed" name="{{ team.id }}confirmed" type="checkbox">
                                {% endif %}
                                <span class="lever" type="submit"></span>
                                Yes
                                </label>
                            </div>
                            <button class="confirm-submit" type="submit">Confirm</button>
                        </form>
                    <!-- If not the admin, the switch is disabled, but still visible -->
                    {% else %}
                        <!-- Disabled Switch -->
                        <p class="confirmed-p">Confirmed</p>
                        <div class="switch">
                            <label for="{{ team.id }}confirmed" class="switch-label">
                            No
                            {% if team.confirmation_status == True %}
                                <input id="{{ team.id }}confirmed" name="{{ team.id }}confirmed" type="checkbox" checked disabled>
                            {% else %}
                                <input id="{{ team.id }}confirmed" name="{{ team.id }}confirmed" type="checkbox" disabled>
                            {% endif %}
                            <span class="lever"></span>
                            Yes
                            </label>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            
            <!-- Modal Structure -->
            <div id="modal-{{ team.id }}" class="modal">
                <div class="modal-content">
                    <h4>Are you sure you want to delete this team?</h4>
                    <p>This action cannot be undone</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('delete_team', team_id=team.id) }}" class="btn green">Yes</a>
                    <a href="{{ url_for('teams') }}" class="btn red">No</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="teams-player-left-box player-left-box">
        <img class="player-left" src="{{ url_for('static', filename='images/mitrovic.webp') }}">
    </div>

    <div id="rashford-box" class="teams-player-right-box player-rigfht-box">
        <img class="player-right" src="{{ url_for('static', filename='images/rashford.webp') }}">
    </div>

</main>

{% endblock %}