{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col profile-box">
        <img class="profile-picture" src="{{ profile_picture }}" alt="{{ user.username }}'s profile picture">
    </div>
</div>

<form method="POST" action="" enctype="multipart/form-data">
    {{ form.picture.label() }}
    {{ form.picture }}
    {% if form.picture.errors %}
        {% for error in form.picture.errors %}
            <span> {{ error }} </span>
        {% endfor %}
    {% endif %}
    {{ form.submit }} <!-- (class="") -->
</form>

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel green lighten-4">
            <h3 class="center-align green lighten-4">
                {{ user.username }}'s Profile
            </h3>
        </div>
    </div>
</div>

{% if session["user"] == "ryanmcnally93" %}
    <!-- I created multiple clubs -->
    <h2 class="center-align">Clubs: Multiple</h2>
{% else %}
    <!-- Club name -->
    <h2 class="center-align">Club: {{ user.team_managed }}</h2>
{% endif %}

<!-- Month Joined -->
<h2 class="center-align">Joined: {{ user.month_joined }}</h2>

<!-- Email Address -->
<h2 class="center-align">Email: {{ user.emailaddress }}</h2>

<p>User data is stored and connected to the user name, which cannot be changed. By doing this we ensure that every manager is protected from their data being changed or deleted by another user. If there are any issues with this site or you believe to have experienced your account being hacked please contact our technical support team on 07954622365.</p>

{% if session["user"] == user.username %}
<div class="row">
    <div class="col player-edit-view">
        <!-- Button to Edit Password or Email info -->
        <a class="team-profile-button btn green" href="{{ url_for('user_edit', username=user.username) }}">Edit Details</a>
    </div>
    <div class="col player-edit-view">
        <!-- Button to delete user -->
        <a class="btn red modal-trigger" id="delete_user" href="#modal-{{ user.username }}">Delete account</a>
    </div>
</div>
{% endif %}

<div id="modal-{{ user.username }}" class="modal">
    <div class="modal-content">
        <h4>Are you sure you want to delete your account?</h4>
        <p>This action cannot be undone</p>
    </div>
    <div class="modal-footer">
        <a href="{{ url_for('delete_user', username=user.username) }}" class="btn green">Yes</a>
        <a href="{{ url_for('profile', username=session['user']) }}" class="btn red">No</a>
    </div>
</div>

{% endblock %}