{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel green lighten-4">
            <h3 class="center-align green lighten-4">
                {{ user.username }}'s Profile
            </h3>
        </div>
    </div>
</div>

<!-- Club name -->
<h2 class="center-align">Club: EDIT NEEDED!</h2>

<!-- Month Joined -->
<h2 class="center-align">Joined: {{ user.month_joined }}</h2>

<!-- Email Address -->
<h2 class="center-align">Email: {{ user.emailaddress }}</h2>

<div class="row">
    <div class="col player-edit-view">
        <!-- Button to Edit Password or Email info -->
        <a class="team-profile-button btn green" href="{{ url_for('user_edit', username=user.username) }}">Edit Details</a>
    </div>
</div>

{% endblock %}