/* Navbar */
#logo {
    width: 200px;
    position: absolute;
    top: -60px;
    left: -45px;
}

#nav, footer {
    height: 82px;
    background-color: #fafafa;
}

@media (min-width: 768px){
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 82px;
        line-height: 82px;
    }
}

nav ul a {
    color: green;
    /* font-family? */
}

nav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,128,0,0.14),0 3px 1px -2px rgba(0,128,0,0.12),0 1px 5px 0 rgba(0,128,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,128,0,0.14),0 3px 1px -2px rgba(0,128,0,0.12),0 1px 5px 0 rgba(0,128,0,0.2);
}

footer {
    -webkit-box-shadow: 0 -2px 2px 0 rgba(0,128,0,0.14),0 -3px 1px -2px rgba(0,128,0,0.12),0 -1px 5px 0 rgba(0,128,0,0.2);
    box-shadow: 0 -2px 2px 0 rgba(0,128,0,0.14),0 -3px 1px -2px rgba(0,128,0,0.12),0 -1px 5px 0 rgba(0,128,0,0.2);
}

.fa-bars:before, .fa-bars:after {
    color: #008000;
}

nav .sidenav-trigger {
    float: right;
}

/* Headings */
.main-heading, .sub-heading, .index-main-heading {
    color: #008000;
    text-align: center;
}

.sub-heading {
    font-size: 32px;
    margin-top: 0;
}

.main-heading {
    font-weight: 600;
    margin: 0;
}

.main-heading {
    font-weight: 600;
}

@media (max-width: 767px) {
    .p-background {
        margin-top: 20px !important;
    }
}

@media (max-width: 570px) {
    #league-table {
        width: 90% !important;
    }
}

/* Index Page */
#league-table {
    background-color: rgb(250,250,250,0.8);
    width: 550px;
    margin: auto;
    border: 2px solid green;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    z-index: 2;
    height: 680px;
    justify-content: center;
}

th, td {
    text-align: center;
}

.player-left-box, .player-right-box {
    width: 380px;
    height: 680px;
    display: inline-block;
    z-index: -1;
    overflow: hidden;
}

#rashford-box {
    width: 460px;
    right: 3%;
    z-index: -1;
}

.teams-player-left-box {
    position: absolute;
    top: 250px;
    left: 5%;
}

.teams-player-right-box {
    right: 6%;
    position: absolute;
    top: 250px;
}

.players-player-left-box {
    position: absolute;
    top: 210px;
    left: 5%;
}

.players-player-right-box {
    right: 6%;
    position: absolute;
    top: 210px;
}

.index-player-left-box {
    position: absolute;
    top: 355px;
    left: 5%;
}

@media (min-width: 768px) and (max-width: 1000px) {
    .index-player-left-box {
        left: 50%;
        margin-left: -190px;
        top: 370px;
    }
}
@media (max-width: 767px) {
    .index-player-left-box {
        left: 50%;
        margin-left: -150px;
        top: 330px;
        width: 300px;
    }
    .index-main-heading {
        font-size: 32px
    }
    .sub-heading {
        font-size: 20px;
    }
}

.index-player-right-box {
    right: 3%;
    position: absolute;
    top: 355px;
}

.index-player-right-box {
    width: 530px;
}

.player-left {
    width: 100%;
}

.player-right {
    width: 100%;
}

#main-content {
    margin-bottom: 20px;
    min-height: 1390px;
}

/* BELOW 915px width, need to have 1 player image */

/* Footer */
footer {
    padding-top: 5px;
}

footer p {
    color: green;
    text-align: center;
    font-size: 20px;
    margin: -20px 0 0 0;
}

#rules-link {
    color: green;
    margin: auto;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 16px;
}

.rules-box {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin: 20px 0 20px 0;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

#socials:not(.browser-default) {
    height: 41px;
    margin-top: 0;
}

#rules-link:hover {
    color: lightgreen;
}

.form-icon-colour {
    color: green;
}

.team-card {
    height: 320px;
    width: 200px;
    text-align: center;
}

.green-card {
    background-color: rgb(0,128,0,0.8);
}

.card .card-action {
    background-color: rgb(0,128,0,0.0);
    border-top: none;
}

.teams-row {
    display: inline-block;
    left: 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

@media (max-width: 767px) {
    .team-card-layout {
        width: 50%;
    }
    #rules-one, #rules-three {
        float: none !important;
        margin: auto !important;
        margin-right: auto !important;
    }
    #rules-one, #rules-two, #rules-three {
        width: 270px !important;
    }
    .rules-box {
        padding: 10px;
    }
    .rules-box h3 {
        font-size: 36px;
    }
    .rules-box h4 {
        font-size: 28px;
    }
    .rules-box p {
        font-size: 16px;
    }
    .main-heading {
        font-size: 48px;
    }
    .social-networks li {
        display: inline-flex !important;
        margin: 2px;
    }
}

@media (min-width: 768px) and (max-width: 950px) {
    .team-card-layout {
        width: 33%;
    }
}

@media (min-width: 951px) {
    .team-card-layout {
        width: 25%;
    }
}

#register-button {
    margin: auto;
    border-radius: 10px;
}

.flashes {
    margin-bottom: 0;
    margin-top: 10px;
}

#num_of_players {
    display: flex;
}

.row-without-mb{
    margin-bottom: 0;
}

#num_of_players-p {
    margin-right: 4px;
}

#num_of_players p {
    margin-bottom: 0;
}

.team-title {
    border-radius: 20px;
    padding: 5px 20px;
    width: fit-content;
    margin: auto;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.team-title-inner {
    padding: 5px 20px;
    margin: auto;
    border-radius: 20%;
}

#tt-box {
    margin-bottom: 20px;
}

#rules-one, #rules-two, #rules-three {
    width: 320px;
}

#rules-one {
    display: flex;
    float: right;
    margin-right: -110px;
    border-radius: 25px;
    border: 5px solid darkgreen;
}

#rules-three {
    display: flex;
    float: left;
    margin-left: -110px;
    border-radius: 25px;
    border: 5px solid darkgreen;
    margin-right: 10px;
    margin-top: 5px;
}

#rules-two {
    display: flex;
    margin: auto;
    border-radius: 25px;
    border: 5px solid darkgreen;
}

#background-image {
    position: fixed;
    top: -400px;
    z-index: -1;
    width: 1800px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    left: 50%;
    margin-left: -900px;
    display: block;
    opacity: 0.8;
}

#background-image-large {
    display: none;
}

@media (min-width: 1201px) {
    #background-image-large {
        position: fixed;
        top: -100px;
        z-index: -1;
        width: 1800px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        left: 50%;
        margin-left: -900px;
        display: block;
        opacity: 0.8;
    }
    #background-image {
        display: none;
    }
}

#heading-box {
    background-color: rgb(250,250,250,0.8);
    width: fit-content;
    margin: auto;
    border-radius: 25px;
    height: fit-content;
    margin-top: 20px;
    text-align: center;
    padding: 8px 20px;
}

.flashes h3 {
    line-height: 1;
    margin: auto;
    width: fit-content;
    border-radius: 25px;
    padding: 20px;
}

.player-edit-view {
    margin: auto;
    display: flex;
    justify-content: center;
    float: none !important;
    padding: 0 !important;
    margin-top: 5px;
}

.profile-content {
    margin: auto;
    width: 50%;
    background-color: rgb(250,250,250,0.8);
    border-radius: 25px;
    padding: 0 13px 13px 13px;
    margin-bottom: 20px;
}

.team-profile-button {
    margin: 5px;
}

.fa-shirt {
    margin-left: -5px;
}

#enzo {
    margin-left: -15%;
}

#de-bruyne {
    margin-left: 15%;
}

#trent {
    width: 110%;
    margin-left: 10%;
}

@media (max-width: 1000px) {
    #trent {
        display: none;
    }
    #index-player-left-box {
        left: 50%;
        margin-left: -190px;
    }
}

.players-row {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.player-collapsible {
    width: 30%;
}

#no_of_players {
    display: inline;
}

.p-background {
    background-color: rgb(250, 250, 250, 0.8);
    margin: auto;
    width: 60%;
    padding: 30px;
    border-radius: 25px;
    margin-top: 50px;
}

#register-p {
    text-align: center;
    font-size: 20px;
}

#back-to-top {
    color: green;
    margin: 10px;
}

#back-to-top:hover {
    color: lightgreen;
}

.social-networks {
    text-align: center;
    padding: 0;
}
  
.social-networks li {
    display: inline;
}
  
.social-networks i {
    font-size: 160%;
    margin: 10px 5%;
    color: green;
}
  
.social-networks i:hover {
    color: lightgreen;
}

#user-team {
    margin-top: 0
}

#user-lastp {
    margin-bottom: 0;
}

#user-p-content {
    padding-top: 13px;
}
  
/* @media (max-width: 800px) {
    footer {
      margin: 10px;
    }
} */
  
@media (max-width: 600px) {
    .social-networks i {
      font-size: 110%;
    }
}

.footer-line {
    display: inline;
}

/* swtich */

/* Disabled */
.switch label input[type=checkbox][disabled]+.lever:after, .switch label input[type=checkbox][disabled]:checked+.lever:after {
    background-color: darkgreen;
}

/* Enabled */
.switch label input[type=checkbox]:checked+.lever:after, .switch label .lever:after {
    background-color: white;
}

.switch-label {
    color: white;
}

.confirmed-p {
    margin: 10px 0 5px 0;
    color: white;
}

.confirm-submit {
    border-radius: 10px;
    background-color: lightgreen;
    color: black;
    margin-top: 5px;
}

.confirm-submit:hover {
    color: white;
    background-color: darkgreen;
    cursor: pointer;
}

.switch {
    margin-top: 5px;
}

.profile-picture {
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 2px solid darkgreen;
}

.picture-profile-box {
    display: flex;
    justify-content: center;
    width: 100% !important;
    margin-top: 20px;
}

.picture-profile-row, .picture-edit-row {
    margin-bottom: 10px;
}

.picture-edit-box {
    display: flex;
    justify-content: center;
    width: 100% !important;
}

.picture-team-box {
    display: flex;
    justify-content: center;
    width: 100% !important;
    margin-top: 35px;
}

#edit-picture-team-box {
    margin-top: 10px;
}

.team-profile-picture {
    border-radius: 25px;
    object-fit: cover;
    aspect-ratio: 1.5;
    border: 2px solid darkgreen;
}

.center-upload-profile {
    display: flex;
    justify-content: center;
    margin: auto;
}

.file-upload {
    width: 200px;
    cursor: pointer;
}

.danger-text {
    color: red;
    margin-top: -5px;
}

.remove {
    width: 142px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 35px;
    padding: 0;
    margin-bottom: 20px;
}

#winners {
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
    border-radius: 25px;
    border: 5px solid darkgreen;
    height: 300px;
}

#goalscorer {
    border-style: none;
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
    border-radius: 25px;
    border: 5px solid darkgreen;
    height: 300px;
}

#winners-goals {
    justify-content: center;
    display: flex;
    margin-bottom: 25px;
}

.card-panel {
    width: 60%;
    border-radius: 25px;
    margin: 20px auto 40px auto !important;
}

#form-content {
    min-height: 630px;
}

.reg-login-p {
    background-color: rgb(250,250,250,0.8);
    border-radius: 25px;
    width: fit-content !important;
    margin: auto;
    float: none !important;
    padding: 2px 15px !important;
}
.reg-login-p p {
    margin: 5px;
}

@media (max-width: 1000px) {
    #winners-goals {
        flex-wrap: wrap;
    }
    #goalscorer {
        margin-top: 25px;
    }
    #winners {
        height: 190px;
    }
}

/* Team Profile Tablet Responsiveness */

@media (min-width: 768px) and (max-width: 1000px) {
    .profile-content {
        width: 60% !important;
    }
    .flashes h3 {
        font-size: 32px;
    }
}

/* Team Profile Mobile Responsiveness */

@media (max-width: 767px) {
    .flashes h3 {
        font-size: 20px;
    }
    .profile-content {
        width: 90% !important;
    }
    .team-title {
        width: 100%;
        padding: 5px 0;
        word-break:break-all;
    }
    .team-title-inner {
        font-size: 32px;
    }
    .team-profile-button {
        /* Biggest size width of 320px will allow before causing issues */
        font-size: 13.7px;
    }
    .card-panel, .p-background {
        width: 90%;
    }
    #register-p {
        font-size: 16px;
    }
    #edit-user-heading {
        font-size: 20px;
        word-break: break-all;
    }
}

@media (max-width: 410px) {
    #edit-team-box {
        width: 100%;
    }
}