@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

/* Base CSS */

/* Navbar */
#logo {
    width: 82px;
    position: absolute;
    transition: background-color .3s;
}

#logo-a {
    padding-left: 10px;
    transition: background-color .3s;
    height: 82px;
    display: inline-block;
    width: 100px;
}

#logo-a:hover {
    background-color: rgba(0,0,0,0.1);
}

#nav, footer {
    height: 82px;
    background-color: #fafafa;
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 82px;
    line-height: 82px;
}

.link-colour {
    color: #008285;
}

.link-colour:hover {
    color: green;
}

nav ul a, #mobile-nav ul a {
    color: green;
}

nav ul a:hover, #mobile-nav ul a:hover {
    color: #008285;
}

nav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,128,0,0.14),0 3px 1px -2px rgba(0,128,0,0.12),0 1px 5px 0 rgba(0,128,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,128,0,0.14),0 3px 1px -2px rgba(0,128,0,0.12),0 1px 5px 0 rgba(0,128,0,0.2);
}

.card-panel {
    width: 60%;
    border-radius: 25px;
    margin: 20px auto 40px auto !important;
}

/* Headings */
.main-heading, .sub-heading, #index-main-heading, .index-sub-heading {
    color: #008000;
    text-align: center;
}

#index-main-heading {
    margin: 35px 0 25px 0;
}

.sub-heading, .index-sub-heading {
    font-size: 32px;
    margin-top: 0;
    font-weight: 400;
    font-style: italic;
}

.main-heading {
    font-weight: 600;
    margin: 0;
    font-weight: 400;
}

.heading-box {
    background-color: rgb(250,250,250,0.8);
    width: fit-content;
    margin: auto;
    border-radius: 25px;
    height: 75px;
    margin-top: 20px;
    text-align: center;
    padding: 8px 20px;
}

@media (min-width: 768px) {
    .heading-box {
        height: 95px;
    }
}

#cannot-view {
    background-color: rgb(250,250,250,0.8);
    width: fit-content;
    margin: auto;
    border-radius: 25px;
    margin-top: 20px;
    text-align: center;
    padding: 8px 20px;
    height: 70px;
    margin-bottom: 20px;
}

/* All Pages Main Elements */

#main-content {
    margin-bottom: 20px;
    min-height: 1390px;
}

/* Row Margin alterations */

.row-with-mt {
    margin-top: 20px;
}

.row-without-mb{
    margin-bottom: 0;
}

/* Flash Messages */

.flashes {
    margin-bottom: 0;
    margin-top: 10px;
}

.flashes h3 {
    line-height: 1;
    margin: auto;
    width: fit-content;
    border-radius: 25px;
    padding: 20px;
}

@media (min-width: 768px) and (max-width: 1000px) {
    .flashes h3 {
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    .flashes h3 {
        font-size: 20px;
    }
}

/* Modals */

.modal {
    border-radius: 20px;
    padding: 10px;
}

.modal p {
    margin-top: 20px;
}

/* Background Images */

#background-image {
    position: fixed;
    top: -400px;
    z-index: -1;
    width: 1800px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    left: 50%;
    margin-left: -900px;
    display: block;
    opacity: 0.8;
}

#background-image-large {
    display: none;
}

@media (min-width: 1201px) {
    #background-image-large {
        position: fixed;
        top: -100px;
        z-index: -1;
        width: 1800px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        left: 50%;
        margin-left: -900px;
        display: block;
        opacity: 0.8;
    }
    #background-image {
        display: none;
    }
}

/* Buttons */

.button-border {
    border-radius: 10px;
    font-family: Ysabeau Infant, sans-serif;
}

.turq {
    background-color: turquoise;
    color: black;
}

.turq:hover {
    background-color: #008285 !important;
    color: white !important;
}

.red:hover {
    background-color: darkred !important;
}

.btn.green:hover {
    background-color: darkgreen !important;
}

.btn.lyellow {
    color: black;
}

.btn.lyellow {
    background-color: #FFFF61;
}

.btn.lyellow:hover {
    background-color: #E0E000 !important;
}

/* Whole Body */

body {
    font-family: Ysabeau Infant, sans-serif !important;
}

/* Footer */

footer {
    -webkit-box-shadow: 0 -2px 2px 0 rgba(0,128,0,0.14),0 -3px 1px -2px rgba(0,128,0,0.12),0 -1px 5px 0 rgba(0,128,0,0.2);
    box-shadow: 0 -2px 2px 0 rgba(0,128,0,0.14),0 -3px 1px -2px rgba(0,128,0,0.12),0 -1px 5px 0 rgba(0,128,0,0.2);
}

footer {
    padding-top: 5px;
    /* width: 100%;
    position: absolute;
    bottom: 0; */
}

footer p {
    color: green;
    text-align: center;
    font-size: 20px;
    margin: -20px 0 0 0;
}

#rules-link {
    color: green;
    margin: auto;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 16px;
}

.rules-box {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin: 20px 0 20px 0;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

#socials:not(.browser-default) {
    height: 41px;
    margin-top: 0;
}

#rules-link:hover {
    color: turquoise;
}

.footer-line {
    display: inline;
}

#back-to-top {
    color: green;
    margin: 10px;
}

#back-to-top:hover {
    color: turquoise;
}

.social-networks {
    text-align: center;
    padding: 0;
}
  
.social-networks li {
    display: inline;
    /* font-family: Ysabeau Infant, sans-serif; */
}
  
.social-networks i {
    font-size: 160%;
    margin: 10px 5%;
    color: green;
}
  
.social-networks i:hover {
    color: turquoise;
}

/* Base Mobile Responsiveness */

.sidenav.right-aligned {
    width: 180px;
    height: fit-content;
    border-bottom-left-radius: 25px;
    padding-bottom: 25px;
}

.fa-bars:before, .fa-bars:after {
    color: #008000;
}

nav .sidenav-trigger {
    float: right;
}

@media (max-width: 767px) {
    .sidenav.right-aligned {
        width: 150px;
    }
    .sub-heading {
        font-size: 20px;
    }
    .main-heading {
        font-size: 48px;
    }
    .social-networks li {
        display: inline-flex !important;
        margin: 2px;
    }
}

@media (max-width: 600px) {
    .index-sub-heading {
        font-size: 20px;
    }
    .social-networks i {
        font-size: 110%;
    }
}

/* Index Page */

#league-table {
    background-color: rgb(250,250,250,0.8);
    width: 550px;
    margin: auto;
    border: 2px solid green;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    display: table;
    z-index: 2;
    height: 680px;
    justify-content: center;
}

#register-button {
    margin: auto;
    border-radius: 10px;
}

.football {
    display: none;
}

th, td {
    text-align: center;
}

#winners {
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
    border-radius: 25px;
    border: 2px solid darkgreen;
    height: 300px;
}

#goalscorer {
    border-style: none;
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
    border-radius: 25px;
    border: 2px solid darkgreen;
    height: 300px;
}

#winners-goals {
    justify-content: center;
    display: flex;
    margin-bottom: 25px;
}

.player-left-box, .player-right-box {
    width: 380px;
    height: 680px;
    display: inline-block;
    z-index: -1;
    overflow: hidden;
}

.index-player-left-box {
    position: absolute;
    top: 320px;
    left: 5%;
}

.index-player-right-box {
    right: 3%;
    position: absolute;
    top: 320px;
    width: 530px;
}

.player-left, .player-right {
    width: 100%;
}

h1 .fa-futbol {
    font-weight: 100;
    margin: 0 25px;
    vertical-align: bottom;
}

#trent {
    width: 110%;
    margin-left: 10%;
}

/* Index Tablet Responsiveness */

@media (max-width: 1000px) {
    #trent {
        display: none;
    }
    #index-player-left-box {
        left: 50%;
        margin-left: -190px;
    }
    #winners-goals {
        flex-wrap: wrap;
    }
    #goalscorer {
        margin-top: 25px;
    }
    #winners {
        height: 190px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .index-player-left-box {
        left: 50%;
        margin-left: -190px;
        top: 315px;
    }
}

@media (min-width: 601px) and (max-width: 850px) {
    #index-main-heading {
        font-size: 40px !important;
        margin: 45px 0 35.5px 0 !important;
    }
}

/* Index Mobile Responsiveness */

@media (max-width: 767px) {
    .p-background {
        margin-top: 20px !important;
    }
    .index-player-left-box {
        left: 50%;
        margin-left: -150px;
        top: 330px;
        width: 300px;
    }
}

@media (max-width: 600px) {
    .football {
        font-weight: 100;
        margin: 0 25px;
        vertical-align: bottom;
        color: green;
        display: inline-block;
        vertical-align: middle;
        font-size: 24px;
    }
    h1 .fa-futbol {
        display: none;
    }
    #index-main-heading {
        font-size: 36px !important;
    }
}

@media (max-width: 570px) {
    #league-table {
        width: 90% !important;
    }
}

/* Players Page */

#players-background-image {
    display: none;
}

.players-player-left-box {
    position: absolute;
    top: 265px;
    left: 5%;
}

.players-player-right-box {
    right: 3%;
    position: absolute;
    top: 265px;
}

.players-row {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.player-collapsible {
    width: 30%;
}

#no-players {
    color: green;
    background-color: rgb(250,250,250,0.8);
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px auto;
    font-size: 24px;
    text-align: center;
}

#player-name {
    padding: 10px 20px;
    border-radius: 20px;
}

#player-background {
    background-color: rgb(250,250,250,0.8);
    border-radius: 20px;
}

#top-p {
    margin-bottom: 0;
}

#middle-p {
    margin: 0;
}

#bottom-p {
    margin-top: 0;
}

#player-body {
    padding: 0 20px 20px 20px;
    border-radius: 20px
}

.player-border {
    border-radius: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin-top: 0;
    height: 670px;
    overflow: scroll;
}

#enzo {
    margin-left: -15%;
}

#de-bruyne {
    margin-left: 15%;
}

/* Players Tablet Responsiveness */

@media (min-width: 801px) and (max-width: 1000px) {
    #no-players {
        margin-left: 15%;
        margin-top: 20px;
        font-size: 20px;
    }
    .players-player-right-box {
        margin-right: 5%;
    }
    .players-player-left-box {
        display: none;
    }
    .player-border {
        width: 40% !important;
    }
    .players-row {
        justify-content: flex-start !important;
        margin-left: 10%;
        width: 90% !important;
    }
}

@media (max-width: 800px) {
    .players-row {
        justify-content: center;
        margin-left: 0;
    }
    .player-border {
        width: 60% !important;
    }
    .players-player-right-box {
        display: none;
    }
    .players-player-left-box {
        display: none;
    }
    #players-background-image {
        position: fixed;
        top: -400px;
        z-index: -1;
        width: 1800px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        left: 50%;
        margin-left: -900px;
        display: block !important;
        opacity: 0.8;
    }
    #players-title {
        font-size: 32px;
        word-break: break-word;
    }
    #players-title-box {
        height: 60px;
        padding: 10px 20px;
    }
}

/* Players Mobile Responsiveness */

@media (max-width: 550px) {
    .player-border {
        width: 90% !important;
    }
}

/* Teams Page */

#teams-content {
    margin-bottom: 20px;
    min-height: 700px;
}

#teams-margin {
    height: 35px;
}

.confirmed-p {
    margin: 10px 0 5px 0;
    color: white;
}

.confirm-submit {
    border-radius: 10px;
    background-color: lightgreen;
    color: black;
    margin-top: 12px;
    font-family: Ysabeau Infant, sans-serif;
}

.confirm-submit:hover {
    color: white;
    background-color: darkgreen;
    cursor: pointer;
}

/* Disabled Switch */
.switch label input[type=checkbox][disabled]+.lever:after, .switch label input[type=checkbox][disabled]:checked+.lever:after {
    background-color: darkgreen;
}

/* Enabled Switch */
.switch label input[type=checkbox]:checked+.lever:after, .switch label .lever:after {
    background-color: white;
}

.switch {
    margin-top: 5px;
}

.switch-label {
    color: white;
}

.team-card {
    height: 270px;
    width: 200px;
    text-align: center;
    margin: auto;
    border-radius: 30px;
}

.editable-action {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 204px;
    margin-top: 10px;
}

.editable-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 10%;
}

.editable-button {
    margin: 5%;
    text-align: center;
    padding: 0;
    width: 90%
}

.team-card {
    height: 270px;
    width: 200px;
    text-align: center;
    margin: auto;
    border-radius: 30px;
}

.team-card-layout {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-content {
    padding-bottom: 0 !important;
    padding-top: 37px !important;
}

.editable-content {
    padding-bottom: 0 !important;
    padding-top: 33px !important;
}

.card-action {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 134px;
    margin-top: 15px;
}

.green-card {
    background-color: rgb(0,128,0,0.8);
}

.card .card-action {
    background-color: rgb(0,128,0,0.0);
    border-top: none;
}

.teams-row {
    display: inline-block;
    left: 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    overflow: scroll;
    height: 600px;
    background-color: rgb(250,250,250,0.8);
    border-radius: 25px;
}

#scroll-p {
    margin: auto;
    background-color: rgb(250,250,250,0.8);
    padding: 10px 20px;
    border-radius: 15px;
    width: fit-content;
    color: green;
}

.card-button {
    margin-bottom: 5px;
    border-radius: 10px;
}

.card-title {
    font-size: 20px !important;
}

@media (min-width: 1101px) {
    .team-card-layout {
        width: 25%;
    }
}

/* Teams Tablet Responsiveness */

@media (min-width: 851px) and (max-width: 1100px) {
    .team-card-layout {
        width: 33%;
    }
}

@media (min-width: 566px) and (max-width: 850px) {
    .team-card-layout {
        width: 50%;
    }
}

/* Teams Mobile Responsiveness */

@media (max-width: 565px) {
    .team-card-layout {
        width: 100%;
    }
}

/* Form Pages */

.form-icon-colour {
    color: #008285 !important;
}

.fa-shirt {
    margin-left: -5px;
}

.picture-edit-box {
    display: flex;
    justify-content: center;
    width: 100% !important;
}

#edit-picture-team-box {
    margin-top: 10px;
}

#form-content {
    min-height: 630px;
}

@media (max-width: 767px) {
    #edit-user-heading {
        font-size: 20px;
        word-break: break-all;
    }
    #edit-box {
        height: auto;
    }
}

@media (max-width: 410px) {
    #edit-team-box {
        width: 100%;
    }
}

/* Rules Page */

#rules-one, #rules-two, #rules-three {
    width: 320px;
}

#rules-one {
    display: flex;
    float: right;
    margin-right: -110px;
    border-radius: 25px;
    border: 5px solid darkgreen;
}

#rules-three {
    display: flex;
    float: left;
    margin-left: -110px;
    border-radius: 25px;
    border: 5px solid darkgreen;
    margin-right: 10px;
    margin-top: 5px;
}

#rules-two {
    display: flex;
    margin: auto;
    border-radius: 25px;
    border: 5px solid darkgreen;
}

/* Rules Mobile Responsiveness */

@media (max-width: 767px) {
    #rules-one, #rules-three {
        float: none !important;
        margin: auto !important;
        margin-right: auto !important;
    }
    #rules-one, #rules-two, #rules-three {
        width: 270px !important;
    }
    .rules-box {
        padding: 10px;
    }
    .rules-box h3 {
        font-size: 36px;
    }
    .rules-box h4 {
        font-size: 28px;
    }
    .rules-box p {
        font-size: 16px;
    }
}

/* Team Profile Page */

.team-title {
    border-radius: 20px;
    padding: 5px 20px;
    width: fit-content;
    margin: auto;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.team-profile-picture {
    border-radius: 25px;
    object-fit: cover;
    aspect-ratio: 1.5;
    border: 2px solid darkgreen;
}

.picture-team-box {
    display: flex;
    justify-content: center;
    width: 100% !important;
    margin-top: 35px;
}

.team-title-inner {
    padding: 5px 20px;
    margin: auto;
    border-radius: 20%;
}

#num_of_players {
    display: flex;
}

#num_of_players-p {
    margin-right: 4px;
}

#num_of_players p {
    margin-bottom: 0;
}

#no_of_players {
    display: inline;
}

#tt-box {
    margin-bottom: 20px;
}

.player-edit-view {
    margin: auto;
    display: flex;
    justify-content: center;
    float: none !important;
    padding: 0 !important;
    margin-top: 5px;
}

.profile-content {
    margin: auto;
    width: 50%;
    background-color: rgb(250,250,250,0.8);
    border-radius: 25px;
    padding: 0 13px 13px 13px;
    margin-bottom: 20px;
}

.team-profile-button {
    margin: 5px;
}

/* Team Profile Tablet Responsiveness */

@media (min-width: 1000px) and (max-width: 1250px) {
    .p-background {
        min-width: 750px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .profile-content {
        width: 60% !important;
    }
}

/* Team Profile Mobile Responsiveness */

@media (max-width: 767px) {
    .profile-content {
        width: 90% !important;
    }
    .team-title {
        width: 100%;
        padding: 5px 0;
        word-break: break-word;
    }
    .team-title-inner {
        font-size: 32px;
    }
    .team-profile-button {
        /* Biggest size width of 320px will allow before causing issues */
        font-size: 13.7px;
    }
    .card-panel, .p-background {
        width: 90%;
    }
    .team-profile-picture, .profile-picture {
        width: 200px;
    }
}

/* Register Page */

.p-background {
    background-color: rgb(250, 250, 250, 0.8);
    margin: auto;
    width: 60%;
    padding: 30px;
    border-radius: 25px;
    margin-top: 50px;
}

#register-p {
    text-align: center;
    font-size: 20px;
}

.reg-login-p {
    background-color: rgb(250,250,250,0.8);
    border-radius: 25px;
    width: fit-content !important;
    margin: auto;
    float: none !important;
    padding: 2px 15px !important;
}
.reg-login-p p {
    margin: 5px;
}

@media (max-width: 767px) {
    #register-p {
        font-size: 16px;
    }
}

/* User Profile */

#user-team {
    margin-top: 0;
}

#user-lastp {
    margin-bottom: 0;
}

#user-p-content {
    padding-top: 13px;
}

.profile-picture {
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 2px solid darkgreen;
}

.picture-profile-box {
    display: flex;
    justify-content: center;
    width: 100% !important;
    margin-top: 20px;
}

.picture-profile-row, .picture-edit-row {
    margin-bottom: 10px;
}

.center-upload-profile {
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: Ysabeau Infant, sans-serif;
}

.file-upload {
    width: 200px;
    cursor: pointer;
}

.danger-text {
    color: red;
    margin-top: -5px;
}

.remove {
    width: 142px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 35px;
    padding: 0;
    margin-bottom: 20px;
}